.car{
    width: 100%;
    color: white;
    height: auto;
    min-height: 100vh;
}
.top {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 5% auto;
    height: 8%;
    align-items: center;
}

.top .search_box {
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.top .search_box i {
    padding-left: 3%;
    color: white;
    font-size: 24pt;
    margin-right: 5px; /* Thêm margin để tạo khoảng cách giữa biểu tượng và input */
}

.top .search_box input {
    color: white;
    font-size: 14pt;
    border: none;
    background: transparent; /* Để input có màu trắng */

}

.top .search_box input::placeholder {
    color: white;
}

.top .buttonAdd 
{
     margin: 0 auto;
    width: 10%;
}
.top .buttonAdd button{
    margin: 20%;
    color: white;
    font-weight: bolder;
    border-radius: 100%;
    background-color: aliceblue;
    height: 30px;
    border: none;
}
.top .buttonAdd button i{
    color: black;
    background-color: aliceblue;
    font-weight: bolder;
    font-size: 12pt;
}
.car .itemCar{
    font-size: 11pt;
    background-color: black;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
}
.imageCar{
    width: 85%;
    padding-top: 5%;
    margin: 5% auto;
}
.imageCar img{
    width: 100%;
}
.car_customer{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    margin:  0 3% ;

}
.infoCar{
    width: 35%;
}
.infoCustomer{
    width: 45%;
}
.carStatus{
    width: 15%;
    margin-top: 22%;
}
.carStatus button{
    width: 100%;
    background-color: green;
    border-radius: 20px;
    border: green;
    color: white;
    font-size: 8pt;
    padding: 3px;
}