.nav_1 {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }
    nav {
        width: 20%;
        background-color: rgb(1, 1, 7);
    }
    .logo {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .logo img {
        width: 50%;
        margin-left: 18%;
        margin-top: 7%;
    }
    .menu_links li {
        padding-top: 8%;
    }
    .menu_links li a {
       text-decoration: none;
       color: aliceblue;
       font-weight: bolder;
    }
}

