.dashboard{
    width: 100%;
    color: white;
    height: auto;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.dashboard {
    .dash_content {
        width: 90%;
        margin: 5% auto;
        background-color: black ;
        border-radius: 20px ;
        color: white;
    }
}